.footer {
    background-color: var(--color-dark-grey);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}
.footer-container {
    display: flex;
    align-items: baseline;
}    
.fotter-address {
    font-style: normal;
    margin-right: 70px;
}
.f-contact-list {
  display: inline;
}
.f-contact-item:not(:last-child) {
  margin-bottom: 9px;
}
%align {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-normal);
    transition: color var(--transition-dur-and-func);
}
.geo {
    @extend %align;
    color: var(--color-white);  
&:hover { color:var(--color-dark-blue)}
&:focus { color:var(--color-dark-blue)}
}
.bottom-contacts {
    @extend %align;
    color: #ffffff99;
&:hover { color:var(--color-dark-blue)}
&:focus { color:var(--color-dark-blue)} 

}



