.page-header-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.page-nav {
    display: flex;
    align-items: center;
}
.header {
    background-color: var(--color-white);
    padding-top: 24px;
    padding-bottom: 25px;
}

.navigation-menu {
    display: flex;
    column-gap: 50px;
}
.menu-nav-link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    transition: color var(--transition-dur-and-func);
}
.menu-nav-link:hover,
.menu-nav-link:focus { color:var(--color-dark-blue)}
 
.nav-active {
    color: var(--color-light-blue);
}
.nav-active::after {
    content: "";
    position: absolute;
    display: block;
    width: 48px;
    height: 4px;
    background: var(--color-light-blue);
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}

.contacts-list {
    display: flex;
}
.item-email {
    margin-right: 50px;
}
.item-link {
    display: flex;
    align-items: center; 
    font-family: var(--primary-font);
    color: var(--color-light-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);
}
.item-link:hover, 
.item-link:focus { color:var(--color-dark-blue)}

.item-link-icon {
   margin-right: 10px;
}
.contact-email-icon {
    width: 16px;
    height: 12px;
    fill: var(--color-light-grey);
    margin-right: 10px;
    transition: fill var(--transition-dur-and-func);
}
.contact-telephone-icon {
    width: 10px;
    height: 16px;
    fill: var(--color-light-grey);
    margin-right: 10px;
    transition: fill var(--transition-dur-and-func);
}
.item-link:hover .contact-email-icon,
.item-link:focus .contact-email-icon {
    fill: var(--color-light-blue)
}
.item-link:hover .contact-telephone-icon,
.item-link:focus .contact-telephone-icon {
    fill: var(--color-light-blue)
}

