.nav-active {
    color: var(--color-light-blue);
&::after {
    @extend %change;
    width: 48px;
}    
}
.f-nav-active {
    color: var(--color-light-blue);
&::after {
    @extend %change;
    width: 78px;
}
}
%change {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    background: var(--color-light-blue);
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}
