.footer {
    background-color: var(--color-dark-grey);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}
.footer-container {
    display: flex;
    align-items: baseline;
}    
.footer-address {
    font-style: normal;
    margin-right: 70px;
}
.f-contact-list {
  display: inline;
}
.f-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.geo {
    @include font (400, 14px, 1.71);
    letter-spacing: var(--letter-spacing-normal);
    transition: color var(--transition-dur-and-func);
    color: var(--color-white);  
&:hover { color:var(--color-dark-blue)}
&:focus { color:var(--color-dark-blue)}
}
.bottom-contacts {
    @include font (400, 14px, 1.71);
    letter-spacing: var(--letter-spacing-normal);
    transition: color var(--transition-dur-and-func);
    color: #ffffff99;
&:hover { color:var(--color-dark-blue)}
&:focus { color:var(--color-dark-blue)} 

}



