.head-web-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
    margin-right: 93px;
}
.first-part {
    color: var(--color-light-blue);
}
.second-part {
    color: #000000 ;
}