.logo {
    // @include font (var(--secondary-font), 700, 26px);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:  1.19;
    font-style: normal;
    letter-spacing: var(--letter-spacing-normal);
    margin-right: 93px;
}
.first-part {
    color: var(--color-light-blue);
}
.second-part {
    color: #000000 ;
}
.footer-logo {
    @include font (700, 26px);
    line-height:  1.19;
    display: inline-block;
    letter-spacing: var(--letter-spacing-normal);
    margin-bottom: 20px;
}
.f-second-part {
    color: var(--color-white) ;
}